get:
  tags:
    - ApplicationMenu
  summary: Finds a application menu by ID
  description: |
    Returns a single application menu for the given ID
  operationId: geApplicationMenuById
  parameters:
    - description: ID of application menu to return
      in: path
      name: id
      required: true
      schema:
        type: string
        maxLength: 250
        pattern: '^[A-Za-z0-9\_\-\.]{0,250}$'
  responses:
    '200':
      description: "Success "
      content:
        application/json:
          schema:
            $ref: '../components/schemas/ApplicationMenu.yaml'
          example:
            id: "9823"
            displayName: "menuLabel"
            applicationId: "1"
            applicationPageId: "5"
            menuIndex: "1"
            parentMenuId: "-1"
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '403':
      $ref: '../components/responses/Forbidden.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'

delete:
  tags:
    - ApplicationMenu
  summary: Delete an application menu by ID
  description: Delete a single application menu for the given ID
  operationId: deleteApplicationMenuById
  parameters:
    - description: ID of the application menu to delete
      in: path
      name: id
      required: true
      schema:
        type: string
        maxLength: 250
        pattern: '^[A-Za-z0-9\_\-\.]{0,250}$'
  responses:
    '200':
      description: "Success "
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '403':
      $ref: '../components/responses/Forbidden.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'

put:
  tags:
    - ApplicationMenu
  summary: Update a application menu by ID
  description: Update a application menu for the given ID
  operationId: updateApplicationMenuById
  parameters:
    - description: ID of the application menu to return
      in: path
      name: id
      required: true
      schema:
        type: string
        maxLength: 250
        pattern: '^[A-Za-z0-9\_\-\.]{0,250}$'
  requestBody:
    content:
      application/json:
        schema:
          $ref: '../components/schemas/ApplicationMenuUpdateRequest.yaml'
    description: Partial application menu description
    required: true
  responses:
    '200':
      $ref: '../components/responses/OK.yaml'
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '403':
      $ref: '../components/responses/Forbidden.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
