get:
  tags:
    - Application
  summary: Finds a living application by ID
  description: |
    Returns a single application for the given ID
  operationId: getApplicationById
  parameters:
    - description: ID of application to return
      in: path
      name: id
      required: true
      schema:
        type: string
        maxLength: 250
        pattern: '^[A-Za-z0-9\_\-\.]{0,250}$'
  responses:
    '200':
      content:
        application/json:
          schema:
            $ref: '../components/schemas/Application.yaml'
      description: "Success "
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '403':
      $ref: '../components/responses/Forbidden.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
delete:
  tags:
    - Application
  summary: Delete a living application by ID
  description: |
    Delete a single application for the given ID
  operationId: deleteApplicationById
  parameters:
    - description: ID of application to delete
      in: path
      name: id
      required: true
      schema:
        type: string
        maxLength: 250
        pattern: '^[A-Za-z0-9\_\-\.]{0,250}$'
  responses:
    '200':
      description: "Success "
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '403':
      $ref: '../components/responses/Forbidden.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
put:
  tags:
    - Application
  summary: Update a living application by ID
  deprecated: true
  description: |
    Update a single application for the given ID

    Warning: as of 9.0.0, updating a living application using this API is deprecated.
  operationId: updateApplicationById
  parameters:
    - description: ID of application to return
      in: path
      name: id
      required: true
      schema:
        type: string
        maxLength: 250
        pattern: '^[A-Za-z0-9\_\-\.]{0,250}$'
  requestBody:
    content:
      application/json:
        schema:
         $ref: '../components/schemas/ApplicationUpdateRequest.yaml'
    description: Partial living application description
    required: true
  responses:
    '200':
      content:
        application/json:
          schema:
            $ref: '../components/schemas/Application.yaml'
      description: "Success "
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '403':
      $ref: '../components/responses/Forbidden.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
