get:
  tags:
    - Application
  summary: Finds a living application by ID
  description: |
    Returns a single application for the given ID
  operationId: getApplicationById
  parameters:
    - description: ID of application to return
      in: path
      name: applicationId
      required: true
      schema:
        format: int64
        type: integer
  responses:
    '200':
      content:
        application/json:
          schema:
            $ref: '../components/schemas/Application.yaml'
      description: successful operation
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
delete:
  tags:
    - Application
  summary: Delete a living application by ID
  description: |
    Delete a single application for the given ID
  operationId: deleteApplicationById
  parameters:
    - description: ID of application to delete
      in: path
      name: applicationId
      required: true
      schema:
        format: int64
        type: integer
  responses:
    '200':
      description: sucessful operation
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
put:
  tags:
    - Application
  summary: Update a living application by ID
  description: |
    Update a single application for the given ID
  operationId: updateApplicationById
  parameters:
    - description: ID of application to return
      in: path
      name: applicationId
      required: true
      schema:
        format: int64
        type: integer
  requestBody:
    content:
      application/json:
        schema:
          type: object
          properties:
            description:
              description: description of the application
              type: string
            displayName:
              description: display name of the application
              type: string
            profileId:
              description: profile authorized to access this application
              type: string
            token:
              description: token of the application used to build the application URL
              type: string
            version:
              description: version of the application
              type: string
            themeId:
              description: |
                ![edition](https://img.shields.io/badge/edition-entreprise-blue)

                theme id for the application
              type: string
        example:
          version: "1.0"
          profileId: "2"
          token: "myapp"
          displayName: "My app"
          description: "My application description"
    description: Partial living application description
    required: true
  responses:
    '200':
      content:
        application/json:
          schema:
            $ref: '../components/schemas/Application.yaml'
      description: successful operation
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '404':
      $ref: '../components/responses/NotFound.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
