get:
  tags:
    - ApplicationPage
  summary: Finds application pages
  description: |
    Finds application pages with pagination params and filters

    - can order on `id`, `token`, `applicationId`, `pageId`
    - can search on `token`
    - can filter on `id`, `token`, `applicationId`, `pageId`

  operationId: searchApplicationPages
  parameters:
    - $ref: '../components/parameters/pageIndex.yaml'
    - $ref: '../components/parameters/pageCount.yaml'
    - $ref: '../components/parameters/pageFilter.yaml'
    - $ref: '../components/parameters/pageOrder.yaml'
    - $ref: '../components/parameters/pageSearch.yaml'
  responses:
    '200':
      description: "Success "
      headers:
        Content-Range:
          schema:
            type: integer
            format: int64
          description: The total number of matching items
      content:
        ApplicationPage/json:
          schema:
            type: array
            items:
              $ref: '../components/schemas/ApplicationPage.yaml'
#          example:
#            - $ref: '../components/examples/ApplicationPage.yaml'
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
post:
  tags:
    - ApplicationPage
  summary: Create an application page
  description: |
    Create an application page
  operationId: createApplicationPage
  requestBody:
    content:
      application/json:
        schema:
          $ref: '../components/schemas/ApplicationPageCreateRequest.yaml'
    description: Partial application page description
    required: true
  responses:
    '200':
      content:
        application/json:
          schema:
            $ref: '../components/schemas/ApplicationPage.yaml'
      description: "Success "
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
  x-codegen-request-body-name: body
