post:
  tags:
    - Application
    - Upload
  summary: Upload a living application
  description: |
    Upload application
  operationId: uploadApplication
  requestBody:
    content:
      multipart/form-data:
        schema:
          $ref: '../components/schemas/FileUploadRequest.yaml'
  responses:
    '200':
      description: "Success "
      content:
        text/plain:
          schema:
            type: string
            example: tmp_application_data.xml
    '401':
      $ref: '../components/responses/Unauthorized.yaml'
    '400':
      $ref: '../components/responses/BadRequest.yaml'
    '5XX':
      $ref: '../components/responses/ServerError.yaml'
