<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta description="{{{templateOptions.metaDescription}}}">
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/favicon.png">

    <meta name="theme-color" content="#0044d4">

    <style>
      @import url(//fonts.googleapis.com/css?family=Roboto:400,700);

      body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #333;
      }
    </style>

<!--    &lt;!&ndash;-->
<!--    ReDoc uses font options from the parent element-->
<!--    So override default browser styles-->
<!--    &ndash;&gt;-->
<!--    <style>-->
<!--      body {-->
<!--        margin: 0;-->
<!--        padding: 0;-->
<!--      }-->
<!--    </style>-->
  {{{redocHead}}}
{{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
</head>
  <body>
    {{{redocHTML}}}
  </body>
</html>
