<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta description="{{{templateOptions.metaDescription}}}">
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/favicon.png">

    <meta name="theme-color" content="#0044d4">
    <style>
      @import url(//fonts.googleapis.com/css?family=Roboto:400,700);
      body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #333;
      }
    </style>
  {{{redocHead}}}
{{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
  <script async src="https://www.googletagmanager.com/gtag/js?id=123456abcdef"></script>
  <script>function gtag() { dataLayer.push(arguments) }; window.dataLayer = window.dataLayer || []; gtag('js', new Date()); gtag('config', '123456abcdef')</script>
</head>
  <body>
    {{{redocHTML}}}
  </body>
</html>
