name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm install
      - run: npm run build
      - run: npm run package
      - name: 42Crunch REST API Static Security Testing
        env:
          CRUNCH_API_TOKEN: ${{ secrets.CRUNCH_API_TOKEN }}
        if: ${{ env.CRUNCH_API_TOKEN != '' }}
        uses: 42Crunch/api-security-audit-action@v3.3.0
        with:
          api-token: ${{ env.CRUNCH_API_TOKEN }}
          ignore-failures: true
          upload-to-code-scanning: true
      - uses: actions/upload-artifact@v3
        with:
          name: openapi.yaml
          path: dist/openapi.yaml
